.single-item-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
.single-item-carrousel-wrapper {
	width: 100%;
	position: relative;
}
.single-item-name {
	font-size: 1.5rem;
	font-weight: 700;
}
.single-item-location {
	font-size: 1rem;
	font-weight: 700;
}
.single-item-btns-wrapper {
	display: flex;
	gap: 2rem;
}
.single-item-btn {
	font-weight: 700;
	padding: 0.35rem;
	border-radius: 1rem;
	color: var(--color-light-100);
	letter-spacing: var(--spacing-1);
	background-color: var(--color-dark-900);
}
.single-item-btn:first-child {
	background-color: var(--color-secondary-500);
}
.single-item-contact-btn {
	color: var(--color-light-100) !important;
	background-color: var(--color-secondary-500);
	justify-content: center;
	border-radius: var(--radius-2);
}
.link-copied {
	width: 150px;
	position: absolute;
	top: 0;
	right: -100%;
	color: var(--color-dark-900);
	background-color: var(--color-secondary-500);
	font-size: 1.1rem;
	padding: 0.35rem 1rem;
	display: none;
	z-index: 9;
	/* transition: display 0.1s right 0.5s 0.2s ease-in-out; */
}
.link-copied.active {
	display: block;
	animation: show 2.5s;
}

.leaflet-wrapper {
	width: 100%;
	height: 200px;
	overflow-x: hidden;
	margin-bottom: 3rem;
}
@media (min-width: 1024px) {
	.leaflet-wrapper {
		height: 400px;
	}
}
@keyframes show {
	0% {
		right: -100%;
	}

	50% {
		right: 0;
	}

	80% {
		right: 0;
	}

	100% {
		display: none;
		right: -100%;
	}
}
